p {
    margin-bottom:0
}

#container{
    padding:20px;
    font-family: Arial, sans-serif;
}
#header {
    overflow:auto;
}
#thumbnail {
    height:120px;
    float:left;
}
#info-card {
    padding:25px 0 0 25px;
    float:left;
}
#name {
    margin:0; 
    padding:0;
}
#contact-info {
    padding:0;
    margin:0;
    list-style: square;
}
#contact-info li:first-child {
    list-style-type: none;
    margin:0;
}
#contact-info li {
    float: left;
    margin-left: 25px;
}
.section {
    clear:both;
    overflow:auto;
    margin:0;
    padding:0;
}
.experience {
    margin-top: 20px;
}
.experience:hover {
    background-color: #ddd;
}

.experience .head {
    overflow: auto;
    font-weight: bold;
}

.experience .role{
    float: left;
}

.eduction .institute {
    float: left;
}

.experience .period{
    float: right;
}

#skills {
    list-style: none;
    padding: 0;
}
