#thumbnail {
    float:none;
}
#info-card {
    padding: 0;
    float: none;
}
#contact-info {
    list-style: none;
    padding: 0;
}
#contact-info li {
    float: none;
    margin-left: 0;
}
.experience .role {
    float: none;
}
.experience .period {
    float: none;
}